@foreach (var item in ViewBag.DSTheLoai)
{
    <li class="menu-item-has-children">
      
        <!-- Mega Category Menu Start -->
        <a href="#">@item.TenChuDe</a>
            
         
    </li>
}
